---
layout: base
---

<body class="frontpage">
    <div class="container">
        <div class="profilepic">
          {% if site.author.image %}
          <img src="{{ site.author.image }}" alt="Profile Picture" />
          {% endif %}
        </div>
        <div>
            <h1>{{ site.title }}</h1>
            <h2>{{ site.author.ima }}</h2>
        </div>
        <nav id="main-nav">
            <ul>
                <li><a href="/about">about me</a></li>
                <li><a href="/cv">cv</a></li>
                <li><a href="/blog">blog</a></li>
                <li><a href="/contact">contact</a></li>
            </ul>
        </nav>
        {% include social.html %}
    </div>

    <div class="overlay"></div>
