{% include scripts/ga.html %}

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/helpers/jquery.fancybox-buttons.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/helpers/jquery.fancybox-media.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/helpers/jquery.fancybox-thumbs.js"></script>

<script id="dsq-count-scr" src="//gorangligorin.disqus.com/count.js" async></script>

<script src="/js/links.js"></script>

<script>
	$(document).ready(function() {
		$(".fancybox")
            .attr("rel", "gallery")
            .fancybox({
                padding: 0,
                fitToView: true,
                autoSize: true
            });
	});
</script>
