<header>
    <div class="profilepic">
    	{% if site.author.image %}
    	<img src="{{ site.author.image }}" alt="Profile Picture" />
    	{% endif %}
    </div>
    <div>
        <div class="title">{{ site.title }}</div>
        <div class="subtitle">{{ site.author.ima }}</div>
    </div>
</header>

<div class="navi">
    <nav id="main-nav">
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/about">about me</a></li>
            <li><a href="/cv/">resume</a></li>
            <li><a href="/blog/">blog</a></li>
            <li><a href="/blog/archives">archives</a></li>
            <li><a href="/contact">contact</a></li>
        </ul>
    </nav>
    {% include social.html %}
</div>

<div class="overlay"></div>
