@import "variables";

.tiny
{
    font-size: 10px;
}

.muted
{
    opacity: 0.5;
}

.row
{
    margin-top: 30px;
    clear: both;

    .element-50
    {
        width: 50%;
        float: left;
    }
}

.clearfix:after
{
  content: "";
  display: table;
  clear: both;
}

form
{
    &#contact
    {
        width: 50%;
        float: right;

        @media screen and (max-width: $layout-breakpoint-xs - 1px)
        {
            float: none;
            width: 100%;
        }
    }

    input, textarea
    {
        font-size: 16px;
        font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
        display: block;
        margin: 10px 0;
        padding: 4px;
    }

    input
    {
        max-width: 240px;
        width: 100%;
    }

    textarea
    {
        width: 100%;
    }

    button
    {
        font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
        background-color: $primary-color;
        border: none;
        color: white;
        padding: 10px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
}
