footer
{
    border-top: 1px solid #fff;
    font-size: 12px;
    font-family: "open sans";
    font-weight: normal;
    text-align: center;
    padding: 20px;
    opacity: 0.64;

    p {
        margin: 0;
    }
}
