@import "variables.scss";

body.frontpage
{
    background: $sidebar-background;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/images/background/hd.png");

    @media screen and (min-width: 2561px)
    {
        background-image: url("/images/background/uhd.png");
    }

    @media screen and (min-width: 1921px)
    {
        background-image: url("/images/background/wqhd.png");
    }

    @media screen and (min-width: 1281px)
    {
        background-image: url("/images/background/fhd.png");
    }

    .overlay
    {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-image: linear-gradient(140deg,rgba(68, 68, 68, 0.4) 20%, rgba(0, 0, 0, 0.4));
        z-index: -2;
    }

    .container
    {
        text-align: center;
        padding: 7% 30px 30px;

        .profilepic
        {
            margin: 0 auto;
            box-shadow: inset 0 0 12px black;
            border-radius: 50%;
            width: $sidebar-width;

            img
            {
                display: block;
                width: 100%;
                border-radius: 50%;
                position: relative;
                z-index: -1;
            }
        }

        a
        {
            color: #ddd;

            &:hover
            {
                color: white;
            }
        }

        h1
        {
            font-family: "Open Sans";
            font-weight: 800;
            font-size: 4em;
            line-height: 1;
            color: #fff;

            @media screen and (max-width: $layout-breakpoint-xs - 1px)
            {
                font-size: 2.4em;
            }
        }

        h2
        {
            margin: 20px auto;
            font-family: "Open Sans";
            font-style: italic;
            font-size: 3em;
            font-weight: 300;
            color: #ddd;
            width: 50%;

            @media screen and (max-width: $layout-breakpoint-xs - 1px)
            {
                font-size: 1.5em;
                width: calc(100% - 24px);
            }
        }

        #main-nav
        {
            margin-left: 0;
            margin-top: 30px;
            font-size: 1.5em;
            font-family: "Open Sans";

            ul
            {
                padding: 0;

                li
                {
                    display: inline-block;
                    margin: 5px 0;

                    @media screen and (max-width: $layout-breakpoint-xs - 1px)
                    {
                        margin: 3px 0;
                    }

                    a
                    {
                        display: inline-block;
                        border: 1px solid white;
                        padding: 0 10px;
                        font-size: 16px;
                        line-height: 2em;
                        font-weight: normal;
                        color: white;
                        border-radius: 16px;

                        @media screen and (max-width: $layout-breakpoint-xs - 1px)
                        {
                            font-size: 13px;
                        }

                        &:hover
                        {
                            color: black;
                            background: white;
                        }
                    }
                }
            }
        }

        #sub-nav
        {
            float: none;
            position: relative;
            margin-top: 10px;

            @media screen and (max-width: $layout-breakpoint-xs - 1px)
            {
                display: block;
            }
        }
    }
}
