.gallery
{
    text-align: center;

    img
    {
        margin: 2px;
    }

    &.gallery-2
    {
        img
        {
            width: 45%;
        }
    }

    &.gallery-4
    {
        img
        {
            width: 20%;
        }
    }
}
