@import 'variables';

#pagination {
  width: 100%;
  margin-top: 20px;
  padding-bottom: 20px;
  font-size: 14px;
  font-weight: bold;
  font-family: arial;
  text-transform: uppercase;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .link {
    flex: 1 1 0px;
    display: flex;
    align-items: center;

    i,
    a {
      display: block;
      color: #333;
    }

    &--previous {
      justify-content: flex-start;

      &,
      & i {
        margin-right: 5px;
      }
    }

    &--next {
      justify-content: flex-end;
      text-align: right;

      &,
      & i {
        margin-left: 5px;
      }
    }
  }
}
