.social
{
    margin-bottom: 10px;

    a
    {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: middle;
        zoom: 1;
        text-indent: -9999px;
        opacity: 0.64;
        width: 28px;
        height: 28px;
        margin: 10px;

        &:hover
        {
            opacity: 1;
        }

        &.email
        {
			background: url('/images/social/email.png') center no-repeat #050505;
			border: 1px solid #050505;

			&:hover
            {
				border: 1px solid darken(#050505, 10%);
			}
		}

		&.facebook
        {
			background: url('/images/social/facebook.png') center no-repeat #3B5998;
			border: 1px solid #3B5998;

			&:hover
            {
				border: 1px solid darken(#3B5998, 10%);
			}
		}

		&.google
        {
			background: url('/images/social/google.png') center no-repeat #C83D20;
			border: 1px solid #C83D20;

			&:hover
            {
				border: 1px solid darken(#C83D20, 10%);
			}
		}

		&.twitter
        {
			background: url('/images/social/twitter.png') center no-repeat #55CFF8;
			border: 1px solid #55CFF8;

			&:hover
            {
				border: 1px solid darken(#55CFF8, 10%);
			}
		}

		&.github
        {
			background: url('/images/social/github.png') center no-repeat rgb(175,182,202);
			border: 1px solid rgb(175,182,202);

			&:hover
            {
				border: 1px solid darken(rgb(175,182,202), 10%);
			}
		}

		&.coderwall
        {
			background: url('/images/social/coderwall.png') center no-repeat #3E8DCC;
			border: 1px solid #3E8DCC;

			&:hover
            {
				border: 1px solid darken(#3E8DCC, 10%);
			}
		}

		&.stackoverflow
        {
			background: url('/images/social/stackoverflow.png') center no-repeat #EF7522;
			border:1px solid #EF7522;

			&:hover
            {
				border:1px solid #CC7A00;
			}
		}

		&.linkedin
        {
			background: url('/images/social/linkedin.png') center no-repeat #005A87;
			border: 1px solid #005A87;
		}

		&.pinterest
        {
			background: url('/images/social/pinterest.png') center no-repeat rgb(190,64,55);
			border: 1px solid rgb(190,64,55);

			&:hover
            {
				border: 1px solid darken(rgb(190,64,55), 10%);
			}
		}

		&.delicious
        {
			background: url('/images/social/delicious.png') center no-repeat rgb(50,113,203);
			border: 1px solid rgb(50,113,203);

			&:hover
            {
				border: 1px solid darken(rgb(50,113,203), 10%);
			}
		}

		&.pinboard
        {
		  	background: url('/images/social/pinboard.png') center no-repeat rgb(0,102,200);
		  	border: 1px solid rgb(58,114,159);

		  	&:hover
            {
		    	border: 1px solid darken(rgb(0,102,255), 10%);
		  	}
		}

		&.douban
        {
		  	background: url('/images/social/douban.png') center no-repeat rgb(0,128,36);
		  	border: 1px solid rgb(0,128,36);

		  	&:hover
            {
		    	border: 1px solid darken(rgb(0,128,36), 10%);
		  	}
		}

		&.quora
        {
			background: url('/images/social/quora.png') center no-repeat #a82400;
			border: 1px solid #a82400;

			&:hover
            {
				border: 1px solid darken(#a82400, 10%);
		 	}
		}

  		&.instagram
        {
			background: url('/images/social/instagram.png') center no-repeat #517fa4;
			border: 1px solid #517fa4;

			&:hover
            {
				border: 1px solid darken(#517fa4, 10%);
		 	}
		}

  		&.behance
        {
			background: url('/images/social/behance.png') center no-repeat #1769ff;
			border: 1px solid #1769ff;

			&:hover
            {
				border: 1px solid darken(#1769ff, 10%);
		  	}
		}

		&.rss
        {
			background: url('/images/social/rss.png') center no-repeat #EF7522;
			border: 1px solid #EF7522;

			&:hover
            {
				border: 1px solid darken(#EF7522, 10%);
			}
		}
    }
}
