$layout-breakpoint-xs: 600px;
$layout-breakpoint-sm: 960px;
$layout-breakpoint-md: 1280px;
$layout-breakpoint-lg: 1920px;

$sidebar-width: 240px;
$sidebar-padding: 20px;

$primary-color: #4CAF50;
$sidebar-background: #2d3339;
