---
layout: default
title: Blog
---

{% assign index = true %}
<div itemscope itemtype="http://schema.org/Blog">
{% for post in paginator.posts %}
{% unless post.redirect %}
    {% assign content = post.content %}
    <article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
        {% include article.html %}
    </article>
{% endunless %}
{% endfor %}
</div>
<nav id="pagination">
    <div class="previous">
    {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' | replace: 'index.html', '' }}">Previous page</a>
    {% endif %}
    </div><div class="next">
    {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next page</a>
    {% endif %}
    </div>
</nav>
