name: build and deploy

on: push

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: build jekyll
        run: bundle exec jekyll build

      - uses: cloudflare/pages-action@1
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ vars.CLOUDFLARE_ACCOUNT_ID }}
          projectName: gorangligorin-com
          directory: _site
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}

      - uses: crazy-max/ghaction-github-pages@v5.0.0
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        with:
          target_branch: history
          build_dir: _site
          keep_history: true
          allow_empty_commit: false
          commit_message: ${{ github.event.head_commit.message }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
